<h1><%= @student.name %></h1>
<p>Email:<%= @student.email %></p>
<p><a href="/students">back to students</a></p>
<p><a href="/students/<%= @student.id %>/edit">Edit this student</a></p>
<form action="/students/<%= @student.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" value="delete this student">
</form>
