<label for="name">Name:</label>
<input type="text" name="student[name]" value="<%= @student.name %>">
<label for="email">Email:</label>
<input type="text" name="student[email]" value="<%= @student.email %>">
<input type="submit" value="Save Student">
